/* Step 3 */
[data-color-mode="light"]{  /* As given by default and the spec. */
    --color--foreground: black;
    --color--background: white;
    --color--doing: white;
    --color--not--doing: #f0f0f0;
    /* --color--input--foreground: black; */
    /* --color--input--background: white; */
}

[data-color-mode="dark"]{  /* Custom colors. */
    --color--foreground: white;
    --color--background: #313131;
    --color--doing: (var(--color--background));
    --color--not--doing: #434343;
    /* --color--input--foreground: white; */
    /* --color--input--background: gray; */
}

#colorModeButton {
    position: absolute;
    right: 10px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

/* Step 2.1 */
body {
    font-family: Arial, sans-serif;
    margin: 0;  /* Allow top bar to extend across the page. */

    /* Step 2.7 */
    height: 100vh;  /* Fill up entire screen. */
    display: flex;
    flex-direction: column;  /* Align top bar and board along a vertical axis. They split the space in body container. */

    /* Step 3 */
    background-color: var(--color--background);
    color: var(--color--foreground);
}

h1 {
    font-size: x-large;
}

/* Step 2.2 */
header {
    background-color: #202020;
    color: white;
    display: flex;  /* Default flex-direction is 'row'. */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

/* Step 2.3 */
#addCard {
    padding: 0.5rem 0;  /* Step 2.2 */
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

#cardTitle {
    width: 20em;
    color: var(--color--foreground);
    background-color: var(--color--background);
}

::placeholder {  /* TODO: Not required. */
    color: var(--color--foreground);
    opacity: 0.5;
}

#cardColor {
    width: 8em;
    height: inherit;
    background-color: var(--color--background);
}

#addButton {
    padding: 0.25rem 1rem;
    background-color: lightgreen;
    color: black;
}

/* Step 2.4 */
#board {
    padding: 0 5rem;
    display: flex;
    flex-grow: 1;  /* Step 2.7 */ /* Take up remaining space in body container. */
}

#todo, #done {
    background-color: var(--color--not--doing);
}

#doing {
    background-color: var(--color--doing);
}

.column { /* #todo, #doing, #done */
    padding: 0 0.5rem 3rem;  /* Step 2.4 and 2.7 */
    flex: 1;  /* Step 2.4 and 2.5 */
    /* display: flex;
    flex-direction: column; */
}

.columnTitle {
    margin: 1rem 1rem 0 1rem;
}

/* Step 2.5 */
.card {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    position: relative;  /* Step 2.6 */
}

h3 {
    margin: 0;
}

/* Step 2.6 */
.buttons {
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;  /* Remove spacing between the buttons. */
    flex-wrap: wrap;
}

.card:hover .buttons {
    opacity: 1;
}

/* .edit, .delete{
    background-color: orange;
}

.startMove{
    background-color: red;
} */

.dropped {
    border: 4px solid black;
}
